<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro F치cil</title>
</head>
<body>
    <main>
        <section class="secao">
            <h1>Cadastro F치cil</h1>
            <p>Cadastre alunos de forma r치pida e f치cil</p>
            <nav class="actions">
                <a href="/cadastro">Cadastros</a>
            </nav>
        </section>
    </main>
    
</body>
</html>